
<div style="background-color:cornflowerblue">
    <img src="../assets/images/download.png" alt="HealthCare" class="rounded-circle"
        style="max-width: 5%; min-width: 5%;" />&nbsp;
    <h2 style="color: white;"> Health Care Appointment Application </h2>
</div>
<hr>
<div>
    <nav>

        <button class="btn btn-default" style="color: salmon;"> Home </button>
        &nbsp;

        <button class="btn btn - default"> Help </button>
        &nbsp;
        &nbsp;



        <button class="btn btn - default" style="color: blue;"> SignIn </button>

        &nbsp;
        <button class="btn btn - success" style="color: green;"> SignUp </button>

    </nav>
    <hr>
</div>

<div>
    <img src="../assets/images/Homepage.jpg" alt="HealthCare" style="width: 90%; height: 90%;" />
</div>

<hr>

<div>
    <h2 style="text-align: center;"><i>Our Services</i></h2>
</div>

<div>

         <div class="container">
                <p><i>Online Reports</i></p>
                <img src="../assets/images/services1.jpeg" alt="services offered" style="width: 15%;height:15%; float:center" align ="center" />
             </div>
        <div class="container">
            <p><i>Rapid Testing</i></p>
            <img src="../assets/images/services2.jpeg" alt="services offered" style="width:15%;height:15%; float:center" align ="center"/>
        </div>
        <div class="container">
            <p><i>24/7 Support</i></p>
            <img src="../assets/images/fullservice.jpg" alt="24/7 service" style="width: 15%;height:15%; float:center" align ="center" />
        </div>
        <div class="container">
            <p><i>Sophisticated Laboratories</i></p>
            <img src="../assets/images/Diagcenter.webp" alt="Diagnostic Center" style="width: 15%;height:15%; float:center" align ="center"/>
        </div>
</div>


<footer>
    <p></p>

</footer>